
venv/
annotations/
images/
train/
cifar-10-batches-py
cifar-10-python.*
oxford_pets_seg
training_checkpoints/
annotations.*
labels.*
saved_model
saved_model1
saved_model2
saved_model3
saved_model4
saved_model5
saved_model6
saved_model7
*.npy
model1
images.*
.idea
.vscode
**/train/*
.idea/
__pycache__
.ipynb_checkpoints/*